body{
    text-align: center;
    font-family: Arial, sans-serif;
    color: black;
}

header{
    border:  1px red solid;
    border-radius: 5px;
    margin: 0 auto;
    padding: 15px;
    width: 70%;
}
